<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RenameTemplates</key>
	<array>
		<dict>
			<key>mask</key>
			<integer>74152610365441</integer>
			<key>name</key>
			<string>dave</string>
			<key>template</key>
			<array>
				<string>⇉Album Artist</string>
				<string> - </string>
				<string>⇉Album</string>
				<string> - </string>
				<string>⇉Year4</string>
				<string> - </string>
				<string>⇉IfExists</string>
				<string>⇉Disc</string>
				<string>⇉Disc Pad2</string>
				<string>-</string>
				<string>⇉endIf</string>
				<string>⇉Track Pad2</string>
				<string> - </string>
				<string>⇉Artist</string>
				<string> - </string>
				<string>⇉Title</string>
			</array>
		</dict>
	</array>
	<key>build</key>
	<string>12109</string>
	<key>prefsVersion</key>
	<string>12098</string>
	<key>version</key>
	<string>7.0.0.1</string>
</dict>
</plist>
